<!doctype html>
<html>
    <head>
        <title>{{title}}</title>

        {{#if options.developmentMode}}
            <link rel="stylesheet" href="{{baseURI}}/public/css/main.build.css">
        {{else}}
            <link rel="stylesheet" href="{{baseURI}}/public/css/main.build.min.css">
        {{/if}}

        {{#> head-block}}
            <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js" integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>
            <link rel="stylesheet" type="text/css" href="https://csshake.surge.sh/csshake.min.css">
        {{/head-block}}
    </head>

    <body>
        {{#> content}}
            {{!-- Content goes here. --}}
        {{/content}}

        {{#if options.developmentMode}}
            <script src="{{baseURI}}/public/js/main.build.js"></script>
        {{else}}
            <script src="{{baseURI}}/public/js/main.build.min.js"></script>
        {{/if}}

        {{#> scripts-block}}
            {{!-- Custom scripts per page can be added. --}}
        {{/scripts-block}}
    </body>
</html>
