{{#> layout }}

    {{#*inline "content"}}
        <div class='instructions'>
            <p>
                Uhh ohhhh! Ohhh nooooo Bronky's got ur ippppp!!
                Oh noooooo what's he gonna do with thaaaaaaat????
            </p>
            <p>
                (coder) Don't worry this is just a joke site — Bronky's not gonna do anything with your ip, besides compile an anonymized map of locations from where he's been — so no worries!
            </p>
            <p>
                (coder) Including rave reviews! Here's a convo w/ me and my Dad —
                    Me: Did you click the button to stop the farts?
                    Dad: Actually for me that's what started them. 🤪
                    (Me, Thinking): Aw man, this is why the internet must exist. I love it.
            </p>
            <p>
                (coder) This is also a PSA that every site you visit definitely has access to your IP — whether they know they do or not, what they wish to do with it is up to them. I don't condone abuse of user info — showing your IP is just part of the joke. Someone else having your IP is not serious unless many variables line up, including the person holding your ip being a scumbag, which I'm not! So chances are you're good!
            </p>

            <p>
                (human) Oh yeah? Well that's exactly what any other hacker would say!
            </p>
            <p>
                (coder) Ehhh don't worry about it it's just Bronky, what's he gonna do???
            </p>
            <p>
                (human) Why would anyone EVER DO THIS?!?!?!
            </p>
            <p>
                (coder) Listen everybody's different. This is my humor u gotta chill.
            </p>
            <p>
                (coder) And let me tell you something else. This man is a FAMILY MAN!! He has a brother have you met him? <a class='link' target='_blank' href='https://bronkycharles.com'>https://bronkycharles.com</a> and <a class='link' target='_blank' href='https://bronkoniouscharleston.com'>https://bronkoniouscharleston.com</a> have been together since the VERY BEGINNING!!! Don't you EVER question their loyalty and love for eachother! Again, respectfully, thank you for understanding. Please enjoy Bronky and Bronkonious responsibly!!!
            </p>
            <p>
                (coder) P.S. Are u a <a class='link' target='_blank' href='https://suckaaa.com'>https://suckaaa.com</a>???
            </p>
        </div>

        <div id='okStopTheFartsBtn'>Press here to stop the farts!</div>

        <div id='bronkyContainer'>
            <div id='bronkyContent'>
                <img id='bronky' src={{imageSrc}}>
                <div id='urip'>{{yourRealIp}}</div>
            </div>
        </div>
        <span class='credits'>built by
            <a class='link' target='_blank' href='https://github.com/wswoodruff/bronky-charles'>@wswoodruff</a> and @xdcreative
            on
            <a class='link' target='_blank' href='https://hapipal.com'>@hapipal</a>
            · art by
            <a class='link' target='_blank' href='https://github.com/devinivy'>@devinivy</a>
            · also
            <a class='link' target='_blank' href='https://bigroomstudios.com'>@brs</a>
            is cool
            · loL ur ip {{yourIp}}
        </span>
        <script>
            const timeout = Math.random() * 10000 + 10000;

            setTimeout(() => {

                // Instead of automatically redirecting, we'll just add a link to meet his brother
                // window.location = '{{redirectLink}}';
            }, timeout);

            setTimeout(() => {

                console.log('Ohhh Nooooo Bronky\'s got ur ip suckaaa!', '{{yourRealIp}}');
            }, 500);
        </script>
    {{/inline}}

{{/layout}}
